services:
  nova-app-frontend:
    environment:
      - NODE_ENV=${NODE_ENV}
      - PORT=${FRONTEND_PORT}
      - PROXY_ENDPOINT=${PROXY_ENDPOINT}

    image: ${DOCKER_USERNAME}/nova-app-frontend:latest
    container_name: nova-app-frontend
    restart: unless-stopped

    ports:
      - '${FRONTEND_PORT}:3003'

    networks:
      - app-network

    depends_on:
      - nova-app-backend

  nova-app-backend:
    environment:
      - NODE_ENV=${NODE_ENV}
      - APP_PORT=${BACKEND_PORT}
      - POSTGRES_URI=${POSTGRES_URI}
      - MONGODB_URI=${MONGODB_URI}
      - REDIS_HOST=${REDIS_HOST}

    image: ${DOCKER_USERNAME}/nova-app-backend:latest
    container_name: nova-app-backend
    restart: unless-stopped

    ports:
      - '${BACKEND_PORT}:4000'

    volumes:
      - ./nestjs_logs:/app/logs

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
