services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped

    env_file:
      - .env.databases

    ports:
      - '${POSTGRES_PORT}:5432'

    volumes:
      - ./postgres_data:/var/lib/postgresql/data

    networks:
      - db-network

  redis:
    image: redis:7.4-alpine
    container_name: redis
    restart: unless-stopped

    env_file:
      - .env.databases

    command: sh -c 'redis-server --requirepass "$$REDIS_PASSWORD"'

    ports:
      - '${REDIS_PORT}:6379'

    volumes:
      - ./redis_data:/data

    networks:
      - db-network

  mongodb:
    image: mongo:8
    container_name: mongodb
    restart: unless-stopped

    env_file:
      - .env.databases

    ports:
      - '${MONGO_PORT}:27017'

    volumes:
      - ./mongodb_data:/data/db

    networks:
      - db-network

volumes:
  postgres_data:
  redis_data:
  mongodb_data:

networks:
  db-network:
    driver: bridge
